<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Favorite recipe #<%= @favorite_recipe.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/favorite_recipes" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <% if current_user == @favorite_recipe.user %>
          <a href="/favorite_recipes/<%= @favorite_recipe.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit favorite_recipe
          </a>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @favorite_recipe.user %>
          <a href="/delete_favorite_recipe/<%= @favorite_recipe.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete favorite_recipe
          </a>
        <% end %>
      </div>
    </div>

    <dl>
      <dt>
        User
      </dt>
      <dd>
        <% if @favorite_recipe.user.present? %>
          <a href="/users/<%= @favorite_recipe.user_id %>">
            <%= @favorite_recipe.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>
        Recipe
      </dt>
      <dd>
        <% if @favorite_recipe.recipe.present? %>
          <a href="/recipes/<%= @favorite_recipe.recipe_id %>">
            <%= @favorite_recipe.recipe.created_at %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@favorite_recipe.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@favorite_recipe.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

