<!-- Validation failure messages -->
<% if @ingredient_health_benefit.errors.any? %>
  <% @ingredient_health_benefit.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit ingredient health benefit #<%= @ingredient_health_benefit.id %>
</h1>

<hr>

<!-- Form ingredient_health_benefit start -->
<form action="/update_ingredient_health_benefit/<%= @ingredient_health_benefit.id %>" method="post">
<!-- Form ingredient_health_benefit end -->

  <!-- Label and input for ingredient_id start -->
  <div class="form-group">
    <label for="ingredient_id">
      Ingredient
    </label>

    <!-- Input for ingredient_id start -->
    <%= select_tag(:ingredient_id, options_from_collection_for_select(Ingredient.all, :id, :name, @ingredient_health_benefit.ingredient_id), :class => "form-control") %>
    <!-- Input for ingredient_id end -->
  </div>
  <!-- Label and input for ingredient_id end -->

  <!-- Label and input for health_benefit_id start -->
  <div class="form-group">
    <label for="health_benefit_id">
      Health benefit
    </label>

    <!-- Input for health_benefit_id start -->
    <input type="text" id="health_benefit_id" name="health_benefit_id" class="form-control" value="<%= @ingredient_health_benefit.health_benefit_id %>">
    <!-- Input for health_benefit_id end -->
  </div>
  <!-- Label and input for health_benefit_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Update ingredient health benefit
  </button>
</form>

<hr>

<a href="/ingredient_health_benefits">
  Go back
</a>
