<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Ingredient health benefit #<%= @ingredient_health_benefit.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/ingredient_health_benefits" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/ingredient_health_benefits/<%= @ingredient_health_benefit.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit ingredient health benefit
        </a>
      </div>

      <div class="col">
        <a href="/delete_ingredient_health_benefit/<%= @ingredient_health_benefit.id %>" class="btn btn-block btn-outline-secondary">
          Delete ingredient health benefit
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Ingredient
      </dt>
      <dd>
        <% if @ingredient_health_benefit.ingredient.present? %>
          <a href="/ingredients/<%= @ingredient_health_benefit.ingredient_id %>">
            <%= @ingredient_health_benefit.ingredient.name %>
          </a>
        <% end %>
      </dd>

      <dt>
        Health benefit
      </dt>
      <dd>
        <% if @ingredient_health_benefit.health_benefit.present? %>
          <a href="/health_benefits/<%= @ingredient_health_benefit.health_benefit_id %>">
            <%= @ingredient_health_benefit.health_benefit.name %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@ingredient_health_benefit.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@ingredient_health_benefit.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

