<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Recipe ingredient #<%= @recipe_ingredient.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/recipe_ingredients" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link recipe_ingredient start -->
      <div class="col">
        <a href="/recipe_ingredients/<%= @recipe_ingredient.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit recipe ingredient
        </a>
      </div>
      <!-- Edit link recipe_ingredient end -->

      <!-- Delete link recipe_ingredient start -->
      <div class="col">
        <a href="/delete_recipe_ingredient/<%= @recipe_ingredient.id %>" class="btn btn-block btn-outline-secondary">
          Delete recipe ingredient
        </a>
      </div>
      <!-- Delete link recipe_ingredient end -->
    </div>

    <dl>
      <dt>
        Recipe
      </dt>
      <!-- Display recipe_id start -->
      <dd>
        <%= @recipe_ingredient.recipe_id %>
      </dd>
      <!-- Display recipe_id end -->

      <dt>
        Ingredient
      </dt>
      <!-- Display ingredient_id start -->
      <dd>
        <%= @recipe_ingredient.ingredient_id %>
      </dd>
      <!-- Display ingredient_id end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@recipe_ingredient.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@recipe_ingredient.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->
<!-- Show Page Customization end -->
